:root {  
  --accent: #AED5FF;
  --dark-accent: #052962;
  --linear-background: linear-gradient(180deg, #C7E2FF 0%, #AED5FF 33.33%, #419BFF 66.67%, #052962 100%);
  --background-gradient: linear-gradient(180deg, rgba(0, 0, 0, 0.05) 10%, rgba(0, 0, 0, 0.8) 80%);
  --background-overlay: #00000070;
  --dark: #000;
  --light: #fff;

}