:root {
  --accent: #ACFFFF;
  --dark-accent: #04C3FF;
  --linear-background: linear-gradient(180deg, #ACFFFF 14%, #8deaff 40%, #04C3FF 80%, #001538 100%);
  --background: #474747;
  --background-overlay: #00000065;
  --dark: #000;
  --light: #fff;

}