:root {
  --accent: #ACFFFF;
  --dark-accent: #04C3FF;
  --linear-background: linear-gradient(180deg, #ACFFFF 14%, #8deaff 40%, #04C3FF 60%, #001538 100%);
  --background: #474747;
  --background-overlay: #00000065;
  --dark: #000;
  --light: #fff;
  
  --accent: #AED5FF;
  --dark-accent: #052962;
  --linear-background: linear-gradient(180deg, #C7E2FF 0%, #AED5FF 33.33%, #419BFF 66.67%, #052962 100%);

  --background-gradient: linear-gradient(180deg, rgba(0, 0, 0, 0.05) 10%, rgba(0, 0, 0, 0.8) 80%);
  ;
  --background-overlay: #00000065;
  --dark: #000;
  --light: #fff;

}